<template>
<div class="row">
    <div class="column column-33">
        <h1>Translate</h1>
        <div class="card">
            <form enctype="multipart/form-data" v-on:submit="processFile">
                <div class="column">
                    <label for="file"><small>{{ upload_message }}</small>
                        <input type="file" placeholder="Upload your file..." name="file" id="file">
                    </label>
                </div>
                <div class="column">
                    <input class="button-primary" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>

    <div v-if="message" class="column column-66">
        <div class="error">
            <p>{{ message }}</p>
        </div>
    </div>

  <div v-if="files.length > 0" class="column column-66">
        <h1>Results</h1>
        <div class="card">
          <pre v-if="data">{{ data }}</pre>
              <a v-for="file in files" class="button button-primary" :href="file.file" download>Download {{ file.ext }} file</a>
        </div>
  </div>

</div>
</template>

<script>
  import axios from 'axios';
export default {
  data () {
    return {
      message: '',
      filename: '',
      files: {},
      upload_message: 'Choose file...',
      data: ''
    }
  },
  methods: {
  processFile (e) {
    e.preventDefault();
    let formData = new FormData();
    const datafile = document.getElementById('file');
    this.filename = datafile.files[0].name;
    formData.append("file", datafile.files[0]);
    let currentObj = this;
    axios.post('http://0.0.0.0:5000/api/translate', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
    })
    .then( (response) => {
      console.log(response.data);
      this.files = response.data[0];
      this.data = response.data[1];
    })
    .catch(function (error) {
        currentObj.output = error;
    });
  },
},
};
</script>
