<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate {% if response %} - results {% endif %}</title>
    <link rel="stylesheet" href="/static/milligram.css" type="text/css">
    <link rel="stylesheet" href="/static/app.css" type="text/css">
</head>
<body>
    <main>
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>
